<hr style='color:SkyBlue'/>

<p style='color:orange;'>
These files with the extension (.ipynb) in this project are used for testing purposes or to handle problems related to something I want to implement. Please do not run these files; the code here will always be implemented elsewhere with a Python (.py) file
</p>

<hr style='color:SkyBlue'/>

In [13]:
import pandas as pd
from datetime import datetime
import numpy as np

In [14]:
def readFiles(prefix):
    """
        ``` 
        prefix : file name  \n
        example => cast | crew | movie_cast | movie_crew | movies
        ```
    """
    now = datetime.now()
    file_name = now.strftime("%Y-%m-%d-%H")
    file_name = '../../test/' + prefix + '_' + file_name + '.txt'
    response = pd.read_json(file_name,lines=True)
    return response

In [15]:
df_cast = readFiles('cast')
df_movies = readFiles('movies')
df_movie_cast = readFiles('movie_cast')

In [20]:
df_movie_cast.columns

Index(['cast_id', 'movie_id', 'character', 'credit_id', 'order'], dtype='object')

In [16]:
where_clause = ', '.join([f'{col} = ?' for col in df_cast.columns])
where_clause

'adult = ?, gender = ?, id = ?, known_for_department = ?, name = ?, original_name = ?, popularity = ?, profile_path = ?, cast_id = ?, character = ?, credit_id = ?, order = ?'

In [39]:
df_movies = df_movies[['id','title','overview','adult','homepage','original_language','original_title','imdb_id','poster_path','release_date','status','tagline','video']]
df_movies

,id,title,overview,adult,homepage,original_language,original_title,imdb_id,poster_path,release_date,status,tagline,video
0,609681,The Marvels,"Carol Danvers, aka Captain Marvel, has reclaim...",False,https://www.marvel.com/movies/the-marvels,en,The Marvels,tt10676048,/9GBhzXMFjgcZ3FdR9w3bUMMTps5.jpg,2023-11-08,Released,Higher. Further. Faster. Together.,False
1,955916,Lift,"An international heist crew, led by Cyrus Whit...",False,https://www.netflix.com/title/81446739,en,Lift,tt14371878,/gma8o1jWa6m0K1iJ9TzHIiFyTtI.jpg,2024-01-10,Released,"The heist begins at 40,000 ft.",False
2,787699,Wonka,Willy Wonka – chock-full of ideas and determin...,False,https://www.wonkamovie.com,en,Wonka,tt6166392,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2023-12-06,Released,Every good thing in this world started with a ...,False
3,753342,Napoleon,An epic that details the checkered rise and fa...,False,https://www.napoleon.movie,en,Napoleon,tt13287846,/jE5o7y9K6pZtWNNMEw3IdpHuncR.jpg,2023-11-22,Released,He came from nothing. He conquered everything.,False
4,906126,Society of the Snow,"On October 13, 1972, Uruguayan Air Force Fligh...",False,https://www.netflix.com/title/81268316,es,La sociedad de la nieve,tt16277242,/2e853FDVSIso600RqAMunPxiZjq.jpg,2023-12-13,Released,Based on a remarkable true story.,False
5,572802,Aquaman and the Lost Kingdom,"Black Manta, still driven by the need to aveng...",False,https://grabify.link/L62GZL?app.eventcaddy.com...,en,Aquaman and the Lost Kingdom,tt9663764,/7lTnXOy0iNtBAdRP3TZvaKJ77F6.jpg,2023-12-20,Released,The tide is turning.,False
6,1028703,The OctoGames,"8 contestants compete in 8 deadly, classic chi...",False,,en,The OctoGames,tt18559720,/qGz5rffXhegQH5PGUDiObqoOt06.jpg,2022-10-07,Released,8 Games. 8 Players. 1 Winner.,False
7,848187,Role Play,Emma has a wonderful husband and two kids in t...,False,https://www.amazon.com/dp/B0CLZ3RWGD,en,Role Play,tt12964320,/7MhXiTmTl16LwXNPbWCmqxj7UxH.jpg,2023-12-14,Released,Every couple has their secrets.,False
8,899445,Deep Fear,A solo trip aboard a yacht takes a terrifying ...,False,,en,Deep Fear,tt14865406,/ruujFw7J0Nd3BSjbN3QODym82Qs.jpg,2023-10-18,Released,Dive to survive.,False
9,508883,The Boy and the Heron,"While the Second World War rages, the teenage ...",False,https://gkids.com/films/the-boy-and-the-heron/,ja,君たちはどう生きるか,tt6587046,/jDQPkgzerGophKRRn7MKm071vCU.jpg,2023-07-14,Released,"Where death comes to an end, life finds a new ...",False
10,1214314,One More Shot,Following the attack on the black site in Pola...,False,,en,One More Shot,tt27110516,/nQ1BQg4yMdlYSHvHZgwladzy7EF.jpg,2024-01-12,Released,,False
11,918692,Granit,Mozambique requests from Russia is being helpe...,False,,ru,Гранит,tt17352384,/zLJn4U2qlWIzlFP5SsyFJUDQjfs.jpg,2021-12-29,Released,Live or die,False
12,866398,The Beekeeper,One man’s campaign for vengeance takes on nati...,False,,en,The Beekeeper,tt15314262,/3DjlG6E3yglj6Zj7izALDAJXQLM.jpg,2024-01-10,Released,Expose the corruption. Protect the hive.,False
13,940551,Migration,After a migrating duck family alights on their...,False,https://www.migration.movie,en,Migration,tt6495056,/kJG74Y1RxLLjRLYOTrBclWpbvkz.jpg,2023-12-06,Released,Odd ducks welcome.,False
14,1155089,Justice League: Crisis on Infinite Earths Part...,Death is coming. Worse than death: oblivion. N...,False,https://www.warnerbros.com/movies/justice-leag...,en,Justice League: Crisis on Infinite Earths Part...,tt29195117,/zR6C66EDklgTPLHRSmmMt5878MR.jpg,2024-01-09,Released,"Worlds will live, worlds will die and nothing ...",False
15,872585,Oppenheimer,The story of J. Robert Oppenheimer's role in t...,False,http://www.oppenheimermovie.com,en,Oppenheimer,tt15398776,/8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg,2023-07-19,Released,The world forever changes.,False
16,695721,The Hunger Games: The Ballad of Songbirds & Sn...,64 years before he becomes the tyrannical pres...,False,https://hungergames.movie,en,The Hunger Games: The Ballad of Songbirds & Sn...,tt10545296,/mBaXZ95R2OxueZhvQbcEWy2DqyO.jpg,2023-11-15,Released,Everyone hungers for something.,False
17,101251,El Padrino II: Border Intrusion,,False,,en,El Padrino II: Border Intrusion,tt0984084,/yHtPjWgO3wCnY21qKL3NjbBbthx.jpg,2008-01-01,Released,,False
18,79026,El padrino: The Latin Godfather,"In the streets of East Los Angeles, Manny is a...",False,,en,El padrino,tt0325950,/10J7EQ8WvMYku8lcZrLewV2Ko4I.jpg,2004-09-27,Released,,False
19,792307,Poor Things,Brought back to life by an unorthodox scientis...,False,https://www.searchlightpictures.com/films/poor...,en,Poor Things,tt14230458,/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg,2023-11-21,Released,She's like nothing you've ever seen.,False
20,1029575,The Family Plan,"Dan Morgan is many things: a devoted husband, ...",False,https://tv.apple.com/movie/umc.cmc.6o6y3wel2le...,en,The Family Plan,tt16431870,/a6syn9qcU4a54Lmi3JoIr1XvhFU.jpg,2023-12-14,Released,,False
21,1072790,Anyone But You,"After an amazing first date, Bea and Ben’s fie...",False,https://www.anyonebutyou.movie,en,Anyone But You,tt26047818,/yRt7MGBElkLQOYRvLTT1b3B1rcp.jpg,2023-12-21,Released,They only look like the perfect couple.,False
22,385687,Fast X,Over many missions and against impossible odds...,False,https://fastxmovie.com,en,Fast X,tt5433140,/fiVW06jE7z9YnO4trhaMEdclSiC.jpg,2023-05-17,Released,The end of the road begins.,False
23,940551,Migration,After a migrating duck family alights on their...,False,https://www.migration.movie,en,Migration,tt6495056,/kJG74Y1RxLLjRLYOTrBclWpbvkz.jpg,2023-12-06,Released,Odd ducks welcome.,False
24,843380,Dead for a Dollar,"In 1897, veteran bounty hunter Max Borlund is ...",False,,en,Dead for a Dollar,tt14895206,/1AnXfjxFqMsQmUPSvt9YxUJhfFw.jpg,2022-09-30,Released,Vengeance for the right price.,False
25,799155,Attack,"With the Parliament under siege, India’s first...",False,,hi,Attack,tt7529298,/5jGKbYuZtdxSNOocI6ZziQeiY4n.jpg,2022-04-01,Released,,False
26,848326,Rebel Moon - Part One: A Child of Fire,When a peaceful colony on the edge of the gala...,False,https://www.rebelmoon70mm.com,en,Rebel Moon - Part One: A Child of Fire,tt14998742,/ui4DrH1cKk2vkHshcUcGt2lKxCm.jpg,2023-12-15,Released,There are no heroes. Only rebels.,False
27,901362,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",False,,en,Trolls Band Together,tt14362112,/bkpPTZUdq31UGDovmszsg2CchiI.jpg,2023-10-12,Released,There are some new trolls on the block.,False
28,491854,Foxtrot Six,Escalating climate change is turning the world...,False,,en,Foxtrot Six,tt8948208,/o7c8FKCZFIrLKrZSzgqufvNo4mr.jpg,2019-02-21,Released,,False
29,466420,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,False,https://www.paramountmovies.com/movies/killers...,en,Killers of the Flower Moon,tt5537002,/dB6Krk806zeqd0YNp2ngQ9zXteH.jpg,2023-10-18,Released,Greed is an animal that hungers for blood.,False
30,346698,Barbie,Barbie and Ken are having the time of their li...,False,https://www.barbie-themovie.com,en,Barbie,tt1517268,/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg,2023-07-19,Released,She's everything. He's just Ken.,False
31,299054,Expend4bles,Armed with every weapon they can get their han...,False,https://expendables.movie/,en,Expend4bles,tt3291150,/iwsMu0ehRPbtaSxqiaUDQB9qMWT.jpg,2023-09-15,Released,They'll die when they're dead.,False
32,1075794,Leo,Jaded 74-year-old lizard Leo has been stuck in...,False,https://www.netflix.com/title/81218917,en,Leo,tt5755238,/pD6sL4vntUOXHmuvJPPZAgvyfd9.jpg,2023-11-17,Released,Breaking out this November.,False
33,1050035,Monster,When her young son Minato starts to behave str...,False,https://wellgousa.com/films/monster,ja,怪物,tt23736044,/oAJEA8fZzzJQMWLPM7BML1U46Ft.jpg,2023-06-02,Released,"Are they the ones we dream of, or the ones we ...",False
34,940721,Godzilla Minus One,"In postwar Japan, a new terror rises. Will the...",False,https://tickets.godzilla.com,ja,ゴジラ-1.0,tt23289160,/hkxxMIGaiCTmrEArK7J56JTKUlB.jpg,2023-11-03,Released,Postwar Japan. From zero to minus.,False
35,816741,Grey Eyes,"In a post-apocalyptic future, mankind is color...",False,,es,Ojos Grises,tt10648326,/5InVYa7CcbGioPvQ6ig4Lz4iLlR.jpg,2018-05-11,Released,,False
36,792307,Poor Things,Brought back to life by an unorthodox scientis...,False,https://www.searchlightpictures.com/films/poor...,en,Poor Things,tt14230458,/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg,2023-11-21,Released,She's like nothing you've ever seen.,False
37,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,False,https://www.transformersmovie.com,en,Transformers: Rise of the Beasts,tt5090568,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,2023-06-06,Released,Unite or fall.,False
38,603692,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",False,https://johnwick.movie,en,John Wick: Chapter 4,tt10366206,/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg,2023-03-22,Released,"No way back, one way out.",False
39,507089,Five Nights at Freddy's,"Recently fired and desperate for work, a troub...",False,https://www.fivenightsatfreddys.movie,en,Five Nights at Freddy's,tt4589218,/4dKRTUylqwXQ4VJz0BS84fqW2wa.jpg,2023-10-25,Released,Can you survive five nights?,False
40,502356,The Super Mario Bros. Movie,"While working underground to fix a water main,...",False,https://www.thesupermariobros.movie,en,The Super Mario Bros. Movie,tt6718170,/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg,2023-04-05,Released,Plumbing's our game.,False
41,753453,V/H/S/94,A mysterious VHS tape leads a police S.W.A.T. ...,False,https://www.shudder.com/movies/watch/vhs94/c29...,en,V/H/S/94,tt14867006,/9fSogEkqDfJQTuGHsTFloQz3Tw8.jpg,2021-09-26,Released,5 New Tapes. 1 Nightmare.,False
42,670292,The Creator,Amid a future war between the human race and t...,False,https://www.20thcenturystudios.com/movies/the-...,en,The Creator,tt11858890,/vBZ0qvaRxqEhZwl6LWmruJqWE8Z.jpg,2023-09-27,Released,This is a fight for our very existence.,False
43,744857,When Evil Lurks,Residents of a small rural town discover that ...,False,,es,Cuando acecha la maldad,tt16300962,/2gimJ06p9tVR4P6jacZWcLcNEwA.jpg,2023-10-05,Released,There's no point in praying.,False
44,1022796,Wish,"Asha, a sharp-witted idealist, makes a wish so...",False,https://movies.disney.com/wish,en,Wish,tt11304740,/AcoVfiv1rrWOmAdpnAMnM56ki19.jpg,2023-11-13,Released,Be careful what you wish for.,False
45,1010581,My Fault,"Noah must leave her city, boyfriend, and frien...",False,,es,Culpa mía,tt21909764,/w46Vw536HwNnEzOa7J24YH9DPRS.jpg,2023-06-08,Released,,False
46,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",False,https://www.acrossthespiderverse.movie,en,Spider-Man: Across the Spider-Verse,tt9362722,/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg,2023-05-31,Released,It's how you wear the mask that matters.,False
47,447362,Life in a Year,A 17 year old finds out that his girlfriend is...,False,,en,Life in a Year,tt6598238,/bP7u19opmHXYeTCUwGjlLldmUMc.jpg,2020-11-27,Released,,False
48,786573,HellKat,A fallen MMA fighter must win a netherworld no...,False,,en,HellKat,tt8804830,/sNUQVeU78lVomwC7bR8SyCRnjdg.jpg,2021-02-02,Released,Fight your demons. Save your soul.,False
49,634649,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,False,https://www.spidermannowayhome.movie,en,Spider-Man: No Way Home,tt10872600,/5weKu49pzJCt06OPpjvT80efnQj.jpg,2021-12-15,Released,The Multiverse unleashed.,False
50,575264,Mission: Impossible - Dead Reckoning Part One,Ethan Hunt and his IMF team embark on their mo...,False,https://www.paramountmovies.com/movies/mission...,en,Mission: Impossible - Dead Reckoning Part One,tt9603212,/NNxYkU70HPurnNCSiCjYAmacwm.jpg,2023-07-08,Released,We all share the same fate.,False
51,615656,Meg 2: The Trench,An exploratory dive into the deepest depths of...,False,https://www.themeg.movie,en,Meg 2: The Trench,tt9224104,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,2023-08-02,Released,Back for seconds.,False
52,897087,Freelance,An ex-special forces operative takes a job to ...,False,http://freelance.movie,en,Freelance,tt15744298,/7Bd4EUOqQDKZXA6Od5gkfzRNb0.jpg,2023-10-05,Released,Retirement didn't suit him.,False
53,976573,Elemental,"In a city where fire, water, land and air resi...",False,https://movies.disney.com/elemental,en,Elemental,tt15789038,/4Y1WNkd88JXmGfhtWR7dmDAo1T2.jpg,2023-06-14,Released,Opposites react.,False
54,1008042,Talk to Me,When a group of friends discover how to conjur...,False,https://umbrellaent.com.au/movie/talk-to-me,en,Talk to Me,tt10638522,/kdPMUMJzyYAc4roD52qavX0nLIC.jpg,2023-07-26,Released,You call. They'll answer.,False
55,1211957,The Painter,An ex-CIA operative is thrown back into a dang...,False,,en,The Painter,tt30253266,/UZ0ydgbXtnrq8xZCI5lHVXVcH9.jpg,2024-01-05,Released,,False
56,1071215,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",False,http://thanksgiving.movie,en,Thanksgiving,tt1448754,/1QiGcvzh225Kk9N0OMtlWjTcsie.jpg,2023-11-16,Released,There will be no leftovers.,False
57,772,Home Alone 2: Lost in New York,"Instead of flying to Florida with his folks, K...",False,,en,Home Alone 2: Lost in New York,tt0104431,/uuitWHpJwxD1wruFl2nZHIb4UGN.jpg,1992-11-19,Released,He's up past his bedtime in the city that neve...,False
58,76600,Avatar: The Way of Water,Set more than a decade after the events of the...,False,https://www.avatar.com/movies/avatar-the-way-o...,en,Avatar: The Way of Water,tt1630029,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,2022-12-14,Released,Return to Pandora.,False
59,926393,The Equalizer 3,Robert McCall finds himself at home in Souther...,False,https://www.equalizer.movie,en,The Equalizer 3,tt17024450,/b0Ej6fnXAP8fK75hlyi2jKqdhHz.jpg,2023-08-30,Released,Justice knows no borders,False

In [35]:
df_cast.rename(columns={"id":"cast_ids"},inplace=True)
df_cast

,adult,gender,cast_ids,known_for_department,name,original_name,popularity,profile_path,cast_id,character,credit_id,order
0,False,1,60073,Acting,Brie Larson,Brie Larson,85.780,/nbh2NPwPTKl2Y08CYKe1OXRA0bO.jpg,1,Carol Danvers / Captain Marvel,5d08fd3bc3a3687c751ef54c,0
1,False,1,970219,Acting,Teyonah Parris,Teyonah Parris,44.482,/mArqi5mGbKvfrNsrEEkdy0gDvGu.jpg,15,Monica Rambeau,5fd2c387fea0d7003c840847,1
2,False,1,2798462,Acting,Iman Vellani,Iman Vellani,40.581,/xjzco4SmsJaPbVJQRY2NHUlvANW.jpg,14,Kamala Khan / Ms. Marvel,5fd2c34c1d3143003c47b952,2
3,False,1,118034,Acting,Zawe Ashton,Zawe Ashton,40.933,/zbxVfvhPhCfgpgmWTdtHWurNqYu.jpg,17,Dar-Benn,6026ba144a4bfc0040a6ef29,3
4,False,2,2231,Acting,Samuel L. Jackson,Samuel L. Jackson,89.125,/nCJJ3NVksYNxIzEHcyC1XziwPVj.jpg,29,Nick Fury,61157fa387f3f2002c279d02,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2620,False,0,4287958,Acting,Marco Cicalese,Marco Cicalese,0.600,None,65,Groom,650ff7e5e8d0b400ca86277c,38
2621,False,0,3007691,Acting,Diego Riace,Diego Riace,1.116,/sKDDIk9T2AGfHMuhBKhOokdakjd.jpg,66,Monster,650ff7eee1faed013a0aebd2,39
2622,False,0,25091,Acting,Lucia Zotti,Lucia Zotti,9.454,/s9MePq28rfNfIF56nsSKOYkSNvO.jpg,67,Old Woman on Stairs,650ff7f8f29d66011cfd49ae,40
2623,False,0,3903890,Crew,Cristiano Pittarello,Cristiano Pittarello,0.600,None,68,Vincent's Guard,650ff81ba3e4ba011bb76da0,41
2624,False,1,6832,Acting,Melissa Leo,Melissa Leo,23.045,/ueAIX0MH68xCei3N8vFLS0EUEjY.jpg,35,Susan Plummer,64f10a28ebb99d00e3e7c316,42

In [11]:
{"adult":false,
"backdrop_path":"\/tfw5LKySp7uEYJ3CUuD4TKx3s8y.jpg",
"belongs_to_collection":
{"id":404609,"name":"John Wick Collection",
 "poster_path":"\/xUidyvYFsbbuExifLkslpcd8SMc.jpg",
 "backdrop_path":"\/fSwYa5q2xRkBoOOjueLpkLf3N1m.jpg"},
 "budget":90000000,
 "genres":[{"id":28,"name":"Action"},
{"id":53,"name":"Thriller"},{"id":80,"name":"Crime"}],
"homepage":"https:\/\/johnwick.movie","id":603692,
"imdb_id":"tt10366206",
"original_language":"en",
"original_title":"John Wick: Chapter 4",
"overview":"With the price onrn old friends into foes.",
"popularity":335.975,
"poster_path":"\/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg",
"production_companies":
[{"id":3528,"logo_path":"\/cCzCClIzIh81Fa79hpW5nXoUsHK.png",
"name":"Thunder Road","origin_country":"US"},{"id":23008,
"logo_path":"\/5SarYupipdiejsEqUkwu1SpYfru.png","name":"87Eleven","origin_country":"US"},
{"id":491,"logo_path":"\/5LvDUt3KmvRnXQ4NrdWJYHeuA8J.png","name":"Summit Entertainment","origin_country":"US"},{"id":264,"logo_path":"\/fA90qwUKgPhMONqtwY60GaHRyrW.png","name":"Studio Babelsberg","origin_country":"DE"}],
"production_countries":[{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United States of America"}],
"release_date":"2023-03-22",
"revenue":426978565,
"runtime":170,
"spoken_languages":[
    {"english_name":"Arabic","iso_639_1":"ar","name":"\u0627\u0644\u0639\u0631\u0628\u064a\u0629"},{"english_name":"Cantonese","iso_639_1":"cn","name":"\u5e7f\u5dde\u8bdd \/ \u5ee3\u5dde\u8a71"},{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"French","iso_639_1":"fr","name":"Fran\u00e7ais"},{"english_name":"German","iso_639_1":"de","name":"Deutsch"},{"english_name":"Japanese","iso_639_1":"ja","name":"\u65e5\u672c\u8a9e"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"},{"english_name":"Russian","iso_639_1":"ru","name":"P\u0443\u0441\u0441\u043a\u0438\u0439"},{"english_name":"Spanish","iso_639_1":"es","name":"Espa\u00f1ol"}],
"status":"Released",
"tagline":"No way back, one way out.",
"title":"John Wick: Chapter 4",
"video":false,
"vote_average":7.76,
"vote_count":5439}

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/r9oTasGQofvkQY5vlUXglneF64Z.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://tv.apple.com/movie/umc.cmc.6o6y3wel2le...,1029575,tt16431870,en,The Family Plan,...,2023-12-14,208,119,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,The Family Plan,False,7.392,770

<ul>
    <li> 0 or 3 'Not set / not specified'</li>
    <li> 1 : 'Female'</li>
    <li> 2 : 'Male' </li>
</ul>

In [5]:
# crew
df_crew['gender'] = df_crew['gender'].replace({0 : "Not set / not specified" ,1 : "Female", 2 : "Male" , 3 : "Not set / not specified"})
df_crew[df_crew['gender'] == 'Female']
# cast
df_cast['gender'] = df_cast['gender'].replace({0 : "Not set / not specified" ,1 : "Female", 2 : "Male" , 3 : "Not set / not specified"})
# df_cast[df_cast['gender'] == 'Male']

In [37]:

production_countries = []
for production_countries_i in df_movies['production_countries'].interpolate():
    for production_countries_j in production_countries_i:
        production_countries.append(production_countries_j)
df_production_countries = pd.DataFrame(production_countries)

df_unique_production_countries = df_production_countries.drop_duplicates(['iso_3166_1', 'name'])
df_unique_production_countries

   iso_3166_1                      name
0          IN                     India
1          GB            United Kingdom
2          US  United States of America
3          CN                     China
5          NZ               New Zealand
6          CH               Switzerland
7          JP                     Japan
9          CA                    Canada
10         FR                    France
12         BE                   Belgium
20         BY                   Belarus
22         KZ                Kazakhstan
25         DE                   Germany
27         NO                    Norway
30         PH               Philippines

<hr style='color:SkyBlue'/>

<ul>
    <li>relationship between movie and genre:</li>
    <li>get movie id </li>
    <li>get genre id</li>
    <li>dict contains movie and genre id</li>
</ul>

In [7]:
movies_genres = []
for x in df_movies.itertuples():
    movie_id = x.id
    for y in x.genres:
        movies_genres.append(
            {
                'movie_id' : movie_id,
                'genre_id' : y['id']
            }
        )

df_movies_genres = pd.DataFrame(movies_genres)
json_movie_genres = df_movies_genres.drop_duplicates(['movie_id' , 'genre_id']).to_json(orient='records')
json_movie_genres

In [8]:
genres = []
for genres_x in df_movies['genres'].interpolate():
    for genres_y in genres_x:
        genres.append(genres_y)

df_genres = pd.DataFrame(genres)
df_unique_genre = df_genres.drop_duplicates(['name', 'id'])
df_unique_genre

       id             name
0     878  Science Fiction
1      12        Adventure
2      28           Action
3      35           Comedy
4      80            Crime
6   10751           Family
7      14          Fantasy
8      36          History
9   10752              War
10     18            Drama
16     53         Thriller
18     27           Horror
21  10749          Romance
23   9648          Mystery
26     16        Animation
63     37          Western
74  10402            Music

<hr style='color:SkyBlue'/>

<h4 style='text-align:center;color:SkyBlue'>production companies</h4>

<hr style='color:SkyBlue'/>

In [19]:
production_companies = []
for production_companies_i in df_movies['production_companies'].interpolate():
    for production_companie_j in production_companies_i:
        production_companies.append(production_companie_j)
df_production_companies = pd.DataFrame(production_companies)
df_unique_production_companies = df_production_companies.drop_duplicates(['id', 'logo_path','name','origin_country'])
df_unique_production_companies
df_unique_production_companies.loc[df_unique_production_companies['logo_path'].notnull(), 'logo_path'] = 'https://image.tmdb.org/t/p/w500/' + df_unique_production_companies['logo_path']
df_unique_production_companies

,id,logo_path,name,origin_country
0,107641,None,Contiloe Pictures,IN
1,82968,https://image.tmdb.org/t/p/w500//gRROMOG5bpF6T...,LuckyChap Entertainment,US
2,2531,https://image.tmdb.org/t/p/w500//9MfCJ2G6Nrf9y...,MRC,US
3,207685,None,Lie Still,GB
4,56242,https://image.tmdb.org/t/p/w500//1YORRYmg7hgYI...,Apelles Entertainment,US
...,...,...,...,...
59,105356,https://image.tmdb.org/t/p/w500//zuUO2ihuuHkAQ...,Esmail Corp,US
60,2455,None,Red Om Films,US
61,122147,https://image.tmdb.org/t/p/w500//eotra9uY7zyiv...,Higher Ground,US
62,2061,https://image.tmdb.org/t/p/w500//o9LbN33hRaj4q...,Twisted Pictures,US
63,1632,https://image.tmdb.org/t/p/w500//cisLn1YAUuptX...,Lionsgate,US

In [13]:
movies_production_companies = []
for x in df_movies.itertuples():
    movie_id = x.id
    for y in x.production_companies:
        movies_production_companies.append(
            {
                'movie_id' : movie_id,
                'production_companies_id' : y['id']
            }
        )

df_movies_production_companies= pd.DataFrame(movies_production_companies)
df_movies_production_companies.drop_duplicates(['movie_id' , 'production_companies_id'])
df_movies_production_companies.head(1)

   movie_id  production_companies_id
0    955916                    28788

<hr style='color:SkyBlue'/>

<h4 style='text-align:center;color:SkyBlue'>movie origin language</h4>

<hr style='color:SkyBlue'/>

In [14]:
languages = []
for language in df_movies.itertuples():
    languages.append(
        {
            "languages" :language.original_language,
        }
    )

df_langauges = pd.DataFrame(languages)
df_langauges = df_langauges.drop_duplicates(['languages'])

df_langauges['id'] = df_langauges['languages'].map(hash)
df_langauges['id'] = df_langauges['id'].abs()

df_langauges.head(1)

  languages                   id
0        en  5694116883833250737

In [15]:
for index,language in df_langauges.iterrows():
    df_movies['original_language'].replace(language['languages'],language['id'],inplace=True)
df_movies.head(1)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/rz8GGX5Id2hCW1KzAIY4xwbQw1w.jpg,None,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.netflix.com/title/81446739,955916,tt14371878,5694116883833250737,Lift,...,2024-01-10,0,106,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,"The heist begins at 40,000 ft.",Lift,False,6.198,288

In [2]:
import requests

url = "https://api.themoviedb.org/3/person/1362117?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NjI4MWVjYTRiMTlkNDA1YTIwYjFjYTJjZDA0YWQ5ZCIsInN1YiI6IjY1NDRiZjU1OWNjNjdiMDBjNDQyYTE2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6XfHmeaRhiR7RxeYXdZ2gNHHyD8KCFW6Dxc3KPpaDEI"
}
response = requests.get(url, headers=headers)

print(response.text)

{"adult":false,"also_known_as":[],"biography":"","birthday":"1981-09-20","deathday":null,"gender":2,"homepage":null,"id":1362117,"imdb_id":"nm2198515","known_for_department":"Acting","name":"Muzz Khan","place_of_birth":"Burnley, Lancashire, England, UK","popularity":4.913,"profile_path":"/5qwEuMJGfdlwir53BzTm5ncHp8S.jpg"}

In [4]:
import requests

url = "https://api.themoviedb.org/3/person/2324091/movie_credits?language=en-US"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NjI4MWVjYTRiMTlkNDA1YTIwYjFjYTJjZDA0YWQ5ZCIsInN1YiI6IjY1NDRiZjU1OWNjNjdiMDBjNDQyYTE2YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.6XfHmeaRhiR7RxeYXdZ2gNHHyD8KCFW6Dxc3KPpaDEI"
}

response = requests.get(url, headers=headers)

print(response.text)

{"cast":[],"crew":[{"adult":false,"backdrop_path":"/criPrxkTggCra1jch49jsiSeXo1.jpg","genre_ids":[878,12,28],"id":609681,"original_language":"en","original_title":"The Marvels","overview":"Carol Danvers, aka Captain Marvel, has reclaimed her identity from the tyrannical Kree and taken revenge on the Supreme Intelligence. But unintended consequences see Carol shouldering the burden of a destabilized universe. When her duties send her to an anomalous wormhole linked to a Kree revolutionary, her powers become entangled with that of Jersey City super-fan Kamala Khan, aka Ms. Marvel, and Carol’s estranged niece, now S.A.B.E.R. astronaut Captain Monica Rambeau. Together, this unlikely trio must team up and learn to work in concert to save the universe.","popularity":3327.208,"poster_path":"/9GBhzXMFjgcZ3FdR9w3bUMMTps5.jpg","release_date":"2023-11-08","title":"The Marvels","video":false,"vote_average":6.366,"vote_count":1145,"credit_id":"60909542a3770a00414b1aa2","department":"Art","job":"Storyboard Artist"},{"adult":false,"backdrop_path":"/uKg9nqR1MC8L2xaWvrtX5ggDeIj.jpg","genre_ids":[878,28,18,53],"id":12123,"original_language":"en","original_title":"Chain Reaction","overview":"Two researchers in a green alternative energy project forced on the run when they are framed for murder and treason.","popularity":26.126,"poster_path":"/4ahjVHwXXsq5zK57ds8FwWY73MS.jpg","release_date":"1996-08-02","title":"Chain Reaction","video":false,"vote_average":5.697,"vote_count":989,"credit_id":"5cee283692514134d7b89fce","department":"Visual Effects","job":"Visual Effects Production Assistant"}],"id":2324091}

In [21]:
from sqlalchemy import String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy import create_engine


class Base(DeclarativeBase):
    pass

class Genres(Base):
    __tablename__ = "Genres"
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    def __repr__(self) -> str:
        return f"Genres(id={self.id!r}, name={self.name!r}"



def read_files(prefix:str):
    """
    Reads files based on the specified prefix.
    Example: cast | crew | movie_cast | movie_crew | movies
    """
    now = datetime.now()
    file_name = now.strftime("%Y-%m-%d")
    file_name = f'../../test/{prefix}_{file_name}.txt'
    response = pd.read_json(file_name, lines=True)
    return response


genres = read_files(prefix='genres')


def insertData(database_url:str):
    engine = create_engine(database_url, echo=True)
    # Create the table in the database
    Base.metadata.create_all(bind=engine)
    engine.connect()
    genres.to_sql('Genres',con=engine,index=False, if_exists='replace')
    engine.dispose()

insertData("mssql+pyodbc://jane_essadi:123123@192.168.208.1/TheMoviesDB?driver=ODBC+Driver+17+for+SQL+Server")

2024-01-22 15:31:52,302 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-01-22 15:31:52,303 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-22 15:31:52,306 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-01-22 15:31:52,307 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ()

2024-01-22 15:31:52,340 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-01-22 15:31:52,341 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ()
2024-01-22 15:31:52,342 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2024-01-22 15:31:52,343 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ()
2024-01-22 15:31:52,445 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 15:31:52,449 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-22 15:31:52,450 INFO sqlalchemy.engine.Engine [generated in 0.00122s] ('BASE TABLE', 'VIEW', 'Genres', 'dbo')
2024-01-22 15:31:52,463 INFO sqlalchemy.engine.Engine COMMIT
2024-01-22 15:31:52,465 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-22 15:31:52,467 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-22 15:31:52,468 INFO sqlalchemy.engine.Engine [cached since 0.01947s ago] ('BASE TABLE', 'VIEW', 'Genres', 'dbo')
2024-01-22 15:31:52,471 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-22 15:31:52,471 INFO sqlalchemy.engine.Engine [cached since 0.0232s ago] ('BASE TABLE', 'VIEW', 'Genres', 'dbo')
2024-01-22 15:31:52,473 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-01-22 15:31:52,474 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('dbo', 'BASE TABLE')
2024-01-22 15:31:52,504 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value, CAST(sys.extended_properties.value AS NVARCHAR(max)) AS comment
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.extended_properties ON sys.extended_properties.class = ? AND sys.extended_properties.major_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.extended_properties.minor_id = [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION] AND sys.extended_properties.name = CAST(? AS NVARCHAR(max))
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2024-01-22 15:31:52,504 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ('.', '.', 1, '.', 'MS_Description', 'Genres', 'dbo')
2024-01-22 15:32:17,625 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME], objectproperty(object_id([C].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [C].[CONSTRAINT_NAME]), ?) AS is_clustered
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2024-01-22 15:32:17,626 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ('.', 'CnstIsClustKey', 'Genres', 'dbo')
2024-01-22 15:32:17,802 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-01-22 15:32:17,803 INFO sqlalchemy.engine.Engine [cached since 25.35s ago] ('BASE TABLE', 'VIEW', 'Genres', 'dbo')
2024-01-22 15:32:17,819 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2024-01-22 15:32:17,820 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ('Genres', 'dbo')
2024-01-22 15:32:18,304 INFO sqlalchemy.engine.Engine
select
    ind.index_id,
    ind.is_unique,
    ind.name,
    ind.type,
    ind.filter_definition
from
    sys.indexes as ind
join sys.tables as tab on
    ind.object_id = tab.object_id
join sys.schemas as sch on
    sch.schema_id = tab.schema_id
where
    tab.name = CAST(? AS NVARCHAR(max))
    and sch.name = CAST(? AS NVARCHAR(max))
    and ind.is_primary_key = 0
    and ind.type != 0
order by
    ind.name

2024-01-22 15:32:18,305 INFO sqlalchemy.engine.Engine [generated in 0.00098s] ('Genres', 'dbo')
2024-01-22 15:32:18,348 INFO sqlalchemy.engine.Engine
select
    ind_col.index_id,
    col.name,
    ind_col.is_included_column
from
    sys.columns as col
join sys.tables as tab on
    tab.object_id = col.object_id
join sys.index_columns as ind_col on
    ind_col.column_id = col.column_id
    and ind_col.object_id = tab.object_id
join sys.schemas as sch on
    sch.schema_id = tab.schema_id
where
    tab.name = CAST(? AS NVARCHAR(max))
    and sch.name = CAST(? AS NVARCHAR(max))

2024-01-22 15:32:18,348 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ('Genres', 'dbo')
2024-01-22 15:32:18,395 INFO sqlalchemy.engine.Engine
            SELECT cast(com.value as nvarchar(max))
            FROM fn_listextendedproperty('MS_Description',
                'schema', CAST(? AS NVARCHAR(max)), 'table', CAST(? AS NVARCHAR(max)), NULL, NULL
            ) as com;

2024-01-22 15:32:18,396 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ('dbo', 'Genres')
2024-01-22 15:32:18,449 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max))
2024-01-22 15:32:18,450 INFO sqlalchemy.engine.Engine [generated in 0.00069s] ('BASE TABLE', 'VIEW', 'Genres')
2024-01-22 15:32:18,461 INFO sqlalchemy.engine.Engine
DROP TABLE [Genres]
2024-01-22 15:32:18,462 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2024-01-22 15:32:18,465 INFO sqlalchemy.engine.Engine
CREATE TABLE [Genres] (
	id BIGINT NULL,
	name VARCHAR(max) NULL
)


2024-01-22 15:32:18,466 INFO sqlalchemy.engine.Engine [no key 0.00111s] ()
2024-01-22 15:32:18,469 INFO sqlalchemy.engine.Engine INSERT INTO [Genres] (id, name) VALUES (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?), (?, ?)
2024-01-22 15:32:18,471 INFO sqlalchemy.engine.Engine [generated in 0.00013s (insertmanyvalues) 1/1 (unordered)] (28, 'Action', 12, 'Adventure', 16, 'Animation', 35, 'Comedy', 80, 'Crime', 99, 'Documentary', 18, 'Drama', 10751, 'Family', 14, 'Fantasy', 36, 'History', 27, 'Horror', 10402, 'Music', 9648, 'Mystery', 10749, 'Romance', 878, 'Science Fiction', 10770, 'TV Movie', 53, 'Thriller', 10752, 'War', 37, 'Western')
2024-01-22 15:32:18,477 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2024-01-22 15:32:18,479 INFO sqlalchemy.engine.Engine [cached since 26s ago] ('dbo', 'BASE TABLE')
2024-01-22 15:32:18,502 INFO sqlalchemy.engine.Engine COMMIT